body {
  background-color: #212121;
}

#title-opening {
  font-size: 150px;
  color: #EAB464;
}

@media only screen and (max-width: 600px) {
  #title-opening {
    font-size: 60px;
  }
}


#title-second {
  font-size: 60px;
  color: #EAB464;
}

#about {
  color: #EAB464;
  justify-content: center;
  text-align: center;
  max-width: 900px;
}

#about p {
  font-size: 24px;
  margin-top: 50px;
}

#title-third {
  font-size: 40px;
  color: #EAB464;
  margin-bottom: 20px;
}

#confirmation-prompt-button {
  display: flex;
  justify-content: space-between;
  gap: 10px;

}

#confirmation-prompt-button button {
  flex: 1;

}


#confirmation-prompt p {
  color: #EAB464;
  font-size: 20px;
}


#table {
  width: 80%;

}

#table h1 {
  color: #EAB464;
  font-size: 60px;
  text-align: center;
}

#home img {
  display: flex;
  width: 50px;
  top: 13%;
  right: 23%;

}

#home button {
  width: 12%;
  height: 50px;
  margin-top: 50px;
  background-color: #EAB464;
  font-size: 25px;
}

@media only screen and (max-width: 600px) {
  #home button {
    width: 60%;
    height: 70px;
  }

}


#container-button button {
  display: block;
  margin-left: 50px;
  margin-top: 20px;
  width: 150px;
  font-size: 25px;
  transition: 0.3s;
  background-color: #EAB464;
}



.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: red;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}


.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

#content {
  flex: 1;
  padding: 100px;
  box-sizing: border-box;
  text-align: justify;

}

#home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}


#contents {
  height: 200px;
  width: 600px;
  background-color: #EAB464;
  margin: 50px auto;
  padding: 20px;
  box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  overflow-x: scroll;

}

#contents-response {
  height: 150px;
  width: 600px;

  background-color: #EAB464;
  margin: 50px auto;
  padding: 20px;
  box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

.checkbox-container {
  display: flex;
  gap: 20px;
}

.checkbox-label {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  margin-left: 25px;
}

/* Hide the browser's default radio button */
.checkbox-label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}


.checkmark {
  display: inline-block;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}


/* On mouse-over, add a grey background color */
.checkbox-label:hover input~.checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.checkbox-label input:checked~.checkmark {
  background-color: #212121;
}

.checkmark:after {
  content: "";
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.checkbox-label input:checked~.checkmark:after {
  display: block;
}


.checkbox-label .checkmark:after {
  position: relative;
  top: 8px;
  left: 8px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: white;
}

#text-area textarea {
  width: 500px;
  height: 150px;
  padding: 10px;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background-color: #EAB464;
  border: 1px solid #ccc;
  border-radius: 8px;
  resize: none;
  /* Disable resizing */
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

}




@media (max-height: 450px) {
  .sidebar #container-button button {
    padding-top: 15px;
    font-size: 18px;
  }
}