<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>sandbox</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body>
    <div class="container">
        <div id="sidebar"><img>
            <div id="sidebar-container"><button class="btn btn-primary" type="button">Home</button><button class="btn btn-primary" type="button">Appointments</button><button class="btn btn-primary" type="button">Chat History</button><button class="btn btn-primary" type="button">About</button></div>
        </div>
        <div id="contents">
            <div id="home">
                <h1>Chatbot Clinic</h1>
                <p>d wdowdhuiwhdiu diuhw uidhwiuhd uiwhdiuhwiudhwuidhi huidhwui dhwuihdiwhdihw iudh wiudhiwuhduiwhdui wdh iuwhdiuwhdiu whuidhiwu hduiwh iudhwiuhd iuwhuid hwiuhdiuwhduiwhdiuwhiudhui hwiuh diuwhiu dhwuihd iuwhd uiwhdiwhdui hwiuhd iuwhid hwiu hdiwh duiwh duiwhdiu hwiuhduiwhd iuwhdiuwhdiwhduiwhdiuwhdiuwhdiuwh<br><br></p>
            </div>
        </div>
    </div>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>