<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>sandbox</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/sidebar.css">
</head>

<body>
    <div class="container-fluid">
        <div id="mySidebar" class="sidebar"><a class="closebtn" href="javascript:void(0)" onclick="closeNav()">Link</a><a href="#">Link</a><a href="#">Link</a><a href="#">Link</a><a href="#">Link</a></div>
        <div id="main"><button class="btn btn-primary openbtn" type="button" onclick="openNav()">☰</button></div>
        <div id="content">
            <div id="home">
                <h1>ChatBotClinic</h1>
                <p>Book Now!</p><input type="text">
            </div>
        </div>
    </div>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/script.js"></script>
</body>

</html>